@font-face {
  font-family: beautiful;
  src: url(./assets/fonts/beautiful400.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: beautiful;
  src: url(./assets/fonts/beautiful400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: beautiful;
  src: url(./assets/fonts/beautiful500.woff2) format("woff2");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: beautiful;
  src: url(./assets/fonts/beautiful700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: beautiful;
  src: url(./assets/fonts/beautiful900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}